<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CommandWheelForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CommandWheelForms.Properties.Settings>
            <setting name="ShowHotkey" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>18</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="MoveLeftHotkey" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>-1</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="MoveRightHotkey" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>-4</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>25444</value>
            </setting>
            <setting name="Sensitivity" serializeAs="String">
                <value>1</value>
            </setting>
        </CommandWheelForms.Properties.Settings>
    </userSettings>
</configuration>